<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <p> <% @students.each do |student| %>
      <%= student.to_s %><br/>
      <% end %>
    </p>
  </body>
</html>
